.lmj-footer {
    color: black;
    padding: 32px 0;
    border-top: solid 3px black;
    
    font-weight: 500;
    width : 100%;

    text-align: center;
}

.lmj-footer-elem {
    margin-bottom: 10px;
    
    
}

.lmj-footer-mail-input{
    margin: 5px;
}